<div class="media-body">
	<h4 class="media-heading">
		<%= wiki.title %>
		<% if wiki.public %>
			(<%=link_to "#{wiki.pages.count} #{'page'.pluralize}", action: :show, id: wiki %>) 
			<br />
			<span class="small">
				<%= collab_wiki_owner(wiki) %>
			</span>
		<% else %>
			(<%=link_to "#{wiki.pages.count} #{'page'.pluralize}", action: :show, id: wiki, t: 'private' %>) 
		<% end %>
	</h4>
	<span style="color: red"><%= (wiki.public)? "FREE":"" %></span>
  <p class="wiki-description"><%= wiki.description %></p> 
	<% if current_user %>
		<%= link_to 'Edit', edit_wiki_path(wiki), class: 'btn btn-success' %>&nbsp;
		<%= link_to 'Delete', wiki, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
</div>
<hr />
