<h3><%= @wiki.title %></h3>

<div class="row wiki-header">
  <div class="col-md-8">
    <br />
    <p class="lead"><small><%= @wiki.description %></small></p>
  </div>
</div>
<br />

<!--% if policy(Page.new).edit? %-->
<%= link_to "Edit Wiki", edit_wiki_path, class: 'btn btn-success' %>
<!--% end %-->

<hr />

<div class="row">
	<!-- Pages -->
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel panel-header text-center">
				<span style="font-size: 28px">Pages</span>
			</div>
			<% if @wiki.pages.count > 0 %>
				<%= render @pages %>
			<% else %>
				<br />
				<h5 class="text-center">This wiki has no content yet.</h5>
				<br />
			<% end %>
			<%= will_paginate @pages %>
		</div>
		<div class="col-md-4">
			<%= link_to "Back", wikis_path, class: 'btn btn-warning' %>
			<!--% if policy(Page.new).create? %-->
			<%= link_to "New Page", new_wiki_page_path(@wiki,@page), class: 'btn btn-success pull-right' %>
		</div>
	</div>

	<% if (params[:t] != nil and params[:t] == 'private') %>
		<%= collab_area do %>
			<% if current_user %>
				<%= render partial: 'collaborators', locals: {wiki: @wiki} %>
				<br />
				<%= render partial: 'add_collaborator', locals: { wiki: @wiki } %>
			<% end %>
		<% end %>
	<% end %>
