<%= form_for [wiki,page] do |f| %>
  <% if page.errors.any? %>
    <div class="alert alert-danger">
      <h4>There <%= "is".pluralize(page.errors.count) %> <%= pluralize(page.errors.count, "error") %>.</h4>
      <ul>
        <% page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
   <% end %>

   <%= form_group_tag(page.errors[:title]) do %>
     <%= f.label :title %>
     <%= f.text_field :title, class: 'form-control', placeholder: "Enter page title" %>
   <% end %>
   <%= form_group_tag(page.errors[:body]) do %>
     <%= f.label :body %>
     <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter page body" %>
   <% end %>

  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
		&nbsp;
		<%= link_to 'Cancel', [wiki,page], class: 'btn btn-warning' %>
  </div>
<% end %>
